body {
    background: url(vila.biquini.jpg) no-repeat;
    background-size: 100%;
}

#tabuleiro {
    border-collapse: collapse;
    background-color: white;
    margin-top: 150px;
    margin-left: 618px;
    
}

#tabuleiro td {
    width: 120px;
    height: 150px;
    border: 5px solid rgb(184, 177, 177);
    background-color: white;
    cursor: pointer;
}

#tabuleiro img {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

