body {
    background: url(vila.biquini.jpg) no-repeat;
    background-size: 100%;
}

#tabuleiro {
    border-collapse: collapse;
    background-color: white;
    margin:  50px auto;
}

#tabuleiro td {
    width: 100px;
    height: 100px;
    border: 5px solid rgb(184, 177, 177);
    background-color: white;
    cursor: pointer;
}

.karen {
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.perola {
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.sra {
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.siri {
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.lula {
    width: 40px;
    margin-top: 10px;
    margin-left: 35px;
}

.gary {
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.bob {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.patrick {
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.plankton {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

