body {
    background: url(vila.biquini.jpg);
}

.titulo {
    
    margin-top: 17%;
    text-align: center;
    color: white;
    font-weight: bold;
    
}

.botao {
    width: 50%;
    margin-left: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 35px;
}

